@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
/* COLOR */
.text-white{
    color: white;
}
.primary-color{
    background-color: #2B2E4A;
}
.secondary-color{
    background-color: #E84545;
}
/* FONT WEIGHT */
.extra-bold{
    font-weight: bolder;
}
.bold{
    font-weight: bold;
}
/* FONT SIZING */
.header{
    font-size: 36px;
}

/* SIZING */
.book-icon{
    font-size: 80pt;
}
input, a, button{
 
    padding: 10px;
}
/* ALIGNMENT */
.text-center{
    text-align: center;
}
.item-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* FORM */

.submit{
    border: 0;
    padding: 10px 40px;
    margin-top: 15px;
}
label{
    margin-bottom: 10px;
    margin-left: 5px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.search-input{
    border: 0;
    background-color: #D0CDCD;
    width: 75%;
}
/* HELPER */
.container{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 100%;
    padding: 15px;
    margin: 15px;
   
}
.box.primary-color{
    filter: drop-shadow(0 0 1rem #2B2E4A);;
}
.box.secondary-color{
    filter: drop-shadow(0 0 1rem #E84545);;
}
.mt-sm{
    margin-top: 20px;
}
.mt-md{
    margin-top: 40px;
}
.b-rad-rounded{
    border-radius: 10px;
}
.b-rad-rounded-md{
    border-radius: 35px;
}
main{
    display: flex;
    flex-wrap: wrap;
}
aside,div.content{
    width: 100%;
    padding: 25px;
}

.add-book{
    margin-top: 40px;
}
@media only screen and (min-width: 768px) {
    aside{
        width: 25%;
    }
    div.content{
        width: 75%;
    }
    .box{
        width: calc(100%/2);

    }
    .container{
        flex-wrap: nowrap;
    }
  }
  @media only screen and (min-width: 1140px) {
    .box{
        width: calc(100%/3);

    }

  }